<a href="https://colab.research.google.com/github/nicosposaro/etermax_challenge/blob/main/etermax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ejercicio para Etermax - Modelo de Machine Learning
 
  Objetivo: predecir quiénes de los usuarios que instalaron en el día de hoy van
a dejar de jugar el día siguiente.

En primer lugar importo las librerias necesarias y leo el archivo .csv.

In [29]:
import pandas as pd

In [30]:
data=pd.read_csv('Dataset.csv')

Comienza un etapa de entendimiento de los datos.

In [64]:
data

        user_id         install_time  ... event_5 target_churn_indicator
0      2ba6f357  2018-07-04 19:24:24  ...       1                      0
1      3cb936c1  2018-06-30 13:41:29  ...       0                      1
2      17d88bbc  2018-06-30 16:02:30  ...       2                      1
3      7baa10b6  2018-07-02 21:08:33  ...       5                      0
4       120d379  2018-07-07 04:18:47  ...       3                      0
...         ...                  ...  ...     ...                    ...
19995  554e1347  2018-07-07 02:19:19  ...       3                      0
19996  795f035e  2018-07-05 18:49:59  ...       6                      0
19997  52acf7f9  2018-07-05 03:22:13  ...       3                      1
19998   1674efa  2018-07-07 05:22:36  ...      14                      0
19999  fb832bfb  2018-07-02 03:56:24  ...       7                      0

[20000 rows x 14 columns]

In [33]:
data.describe()

       min_age_range  max_age_range  ...       event_5  target_churn_indicator
count   20000.000000   20000.000000  ...  20000.000000            20000.000000
mean       16.145300      18.884050  ...      4.452500                0.540700
std         2.420017       1.450452  ...      4.506946                0.498353
min        13.000000      13.000000  ...      0.000000                0.000000
25%        13.000000      17.000000  ...      2.000000                0.000000
50%        18.000000      20.000000  ...      3.000000                1.000000
75%        18.000000      20.000000  ...      6.000000                1.000000
max        21.000000      20.000000  ...     64.000000                1.000000

[8 rows x 8 columns]

In [24]:
data.user_id.value_counts()

75d198ce    4
85ef5dfe    3
c103db74    3
6f1e1709    3
3fc03071    2
           ..
273884aa    1
211486a6    1
4eaffb93    1
eaad6fc2    1
dd39fbca    1
Name: user_id, Length: 18533, dtype: int64

In [25]:
data=data.drop_duplicates()

In [26]:
data.shape

(20000, 14)

In [48]:
data_users = data.groupby('user_id').size().reset_index(name='counts')

In [50]:
users_unduplicated = data_users[data_users['counts'] == 1]

In [52]:
users_duplicated = data_users[data_users['counts'] > 1]

In [65]:
df_duplicated = data[data.user_id.isin(users_duplicated.user_id)].reset_index()

In [66]:
df_duplicated.sort_values('user_id')

      index   user_id  ... event_5 target_churn_indicator
2242  15280  1006ac06  ...       2                      0
2260  15359  1006ac06  ...       1                      0
2525  17119  103cff6e  ...       1                      1
1323   8954  103cff6e  ...       1                      1
994    6580  104faf7b  ...       1                      0
...     ...       ...  ...     ...                    ...
1643  11194  ffe7ab34  ...       5                      0
363    2398  fff3cd99  ...       1                      0
648    4329  fff3cd99  ...       3                      0
2645  17926  fff55850  ...       5                      0
2036  13893  fff55850  ...      15                      0

[2929 rows x 15 columns]

In [62]:
df = data[data.user_id.isin(users_unduplicated.user_id)]

In [63]:
df

        user_id         install_time  ... event_5 target_churn_indicator
0      2ba6f357  2018-07-04 19:24:24  ...       1                      0
1      3cb936c1  2018-06-30 13:41:29  ...       0                      1
2      17d88bbc  2018-06-30 16:02:30  ...       2                      1
4       120d379  2018-07-07 04:18:47  ...       3                      0
5      c35079e1  2018-07-03 05:55:47  ...      12                      0
...         ...                  ...  ...     ...                    ...
19995  554e1347  2018-07-07 02:19:19  ...       3                      0
19996  795f035e  2018-07-05 18:49:59  ...       6                      0
19997  52acf7f9  2018-07-05 03:22:13  ...       3                      1
19998   1674efa  2018-07-07 05:22:36  ...      14                      0
19999  fb832bfb  2018-07-02 03:56:24  ...       7                      0

[17071 rows x 14 columns]

In [67]:
df.describe()

       min_age_range  max_age_range  ...       event_5  target_churn_indicator
count   17071.000000   17071.000000  ...  17071.000000            17071.000000
mean       16.125593      18.872357  ...      4.604534                0.580927
std         2.424208       1.453575  ...      4.547048                0.493422
min        13.000000      13.000000  ...      0.000000                0.000000
25%        13.000000      17.000000  ...      2.000000                0.000000
50%        18.000000      20.000000  ...      3.000000                1.000000
75%        18.000000      20.000000  ...      6.000000                1.000000
max        21.000000      20.000000  ...     64.000000                1.000000

[8 rows x 8 columns]

In [68]:
df["test"] = df.min_age_range - df.max_age_range

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [70]:
df_test = df[df['test'] > 0]

In [74]:
df_test

        user_id         install_time  ... target_churn_indicator test
950    32846c48  2018-07-01 04:02:41  ...                      0    4
1423    5950162  2018-07-01 17:55:30  ...                      0    1
3953   9a81b8aa  2018-07-05 22:05:17  ...                      1    4
3984   eb0dfdd9  2018-07-03 23:28:24  ...                      1    1
5162   2f9ec5d8  2018-07-01 20:06:09  ...                      0    1
6645   ae27206f  2018-07-02 22:16:02  ...                      1    1
6871   e0efac1a  2018-07-05 00:55:36  ...                      1    1
7725   93d97cb3  2018-07-06 02:51:16  ...                      0    4
8322   90b92cd3  2018-07-04 23:13:08  ...                      1    1
9175   32a42d4e  2018-07-02 18:48:27  ...                      1    1
9289    ca29f3d  2018-06-30 13:21:55  ...                      1    4
11933  574114ac  2018-07-06 23:43:23  ...                      1    1

[12 rows x 15 columns]

In [76]:
df = df[df['test'] < 1]

In [77]:
df

        user_id         install_time  ... target_churn_indicator test
0      2ba6f357  2018-07-04 19:24:24  ...                      0   -4
1      3cb936c1  2018-06-30 13:41:29  ...                      1   -4
2      17d88bbc  2018-06-30 16:02:30  ...                      1   -2
4       120d379  2018-07-07 04:18:47  ...                      0   -4
5      c35079e1  2018-07-03 05:55:47  ...                      0   -2
...         ...                  ...  ...                    ...  ...
19995  554e1347  2018-07-07 02:19:19  ...                      0   -2
19996  795f035e  2018-07-05 18:49:59  ...                      0   -2
19997  52acf7f9  2018-07-05 03:22:13  ...                      1   -4
19998   1674efa  2018-07-07 05:22:36  ...                      0   -4
19999  fb832bfb  2018-07-02 03:56:24  ...                      0   -4

[17059 rows x 15 columns]

In [78]:
df.platform.value_counts()

Android    16663
iOS          396
Name: platform, dtype: int64

In [79]:
df.country_region.value_counts()

Buenos Aires           5653
Buenos Aires F.D.      2412
Cordoba                1689
Entre Rios             1011
Santa Fe                790
Tucuman                 714
Salta                   628
Mendoza                 585
Chaco                   335
Misiones                314
Corrientes              279
Neuquen                 233
San Luis                215
Santiago del Estero     209
La Rioja                198
Formosa                 196
Rio Negro               188
Jujuy                   175
San Juan                174
Chubut                  159
La Pampa                153
Catamarca               131
Santa Cruz               94
Tierra del Fuego         66
Entre Ríos Province      14
Neuquén Province          2
Río Negro Province        1
Cordoba Province          1
Salta Province            1
Chubut Province           1
Tucumán Province          1
Name: country_region, dtype: int64

In [90]:
df.country_region = df.country_region.replace({'Tucumán Province': 'Tucuman', 'Entre Ríos Province': 'Entre Rios', 'Neuquén Province': 'Neuquen', 'Río Negro Province': 'Rio Negro', 'Cordoba Province': 'Cordoba', 'Salta Province': 'Salta', 'Chubut Province': 'Chubut' })

In [91]:
df.country_region.value_counts()

Buenos Aires           5653
Buenos Aires F.D.      2412
Cordoba                1690
Entre Rios             1025
Santa Fe                790
Tucuman                 715
Salta                   629
Mendoza                 585
Chaco                   335
Misiones                314
Corrientes              279
Neuquen                 235
San Luis                215
Santiago del Estero     209
La Rioja                198
Formosa                 196
Rio Negro               189
Jujuy                   175
San Juan                174
Chubut                  160
La Pampa                153
Catamarca               131
Santa Cruz               94
Tierra del Fuego         66
Name: country_region, dtype: int64

In [92]:
df.city.value_counts()

Buenos Aires             2044
Córdoba                  1062
Villa Angelica            656
San Miguel de Tucumán     622
Salta                     550
                         ...
Casbas                      1
Germania                    1
Gobernador Mansilla         1
Bernal                      1
Elena                       1
Name: city, Length: 748, dtype: int64