<a href="https://colab.research.google.com/github/nicosposaro/etermax_challenge/blob/main/etermax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
data=pd.read_csv('Dataset.csv')

In [ ]:
data.head(5)

    user_id         install_time  ... event_5 target_churn_indicator
0  2ba6f357  2018-07-04 19:24:24  ...       1                      0
1  3cb936c1  2018-06-30 13:41:29  ...       0                      1
2  17d88bbc  2018-06-30 16:02:30  ...       2                      1
3  7baa10b6  2018-07-02 21:08:33  ...       5                      0
4   120d379  2018-07-07 04:18:47  ...       3                      0

[5 rows x 14 columns]